@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Beiruti:wght@200..900&display=swap');
.titleg {
    color: red;
    background-color: rgb(17, 255, 0);
    font-family: "Anton SC", sans-serif;
} 